/* 全局樣式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* 深灰色背景 */
    color: #FFD700; /* 黃色字體 */
}

header {
    background-color: #444; /* 深灰色標頭 */
    padding: 20px;
}

header img {
    height: 50px; /* Logo 高度 */
}

/* 按鈕樣式 */
button {
    background-color: #FFD700; /* 黃色背景 */
    color: #333; /* 深灰色字體 */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px; /* 按鈕之間的間距 */
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #FFC107; /* 當鼠標懸停時的顏色變化 */
    color: #fff; /* 白色字體 */
}

/* 主要內容樣式 */
main {
    text-align: center; /* 主要內容置中 */
    padding: 50px;
}

h1 {
    font-size: 2.5em; /* 標題字體大小 */
    margin-bottom: 20px; /* 標題下方的間距 */
}

.info-box {
    background-color: #444; /* 深灰色信息框 */
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto; /* 自動左右間距以置中 */
    width: 80%; /* 信息框寬度 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* 陰影效果 */
}

/* 下拉容器樣式 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 圖像按鈕樣式 */
.profile-icon {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* 下拉內容樣式：向左下展開 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 10; 
}

/* 下拉選項樣式：文字向左對齊 */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* 文字向左對齊 */
}

/* 下拉選項懸停效果 */
.dropdown-content a:hover {
    background-color: #333; /* 修改懸停背景色 */
}

/*字形*/
.site-title {
    flex: 1;
    text-align: center;
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
    font-size: 28px;
    color: #fce17d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu {
    position: fixed;
    top: 100px; /* 向下移動兩格 */
    left: 10px;
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
}

.menu div {
    height: 5px;
    background-color: black;
    margin: 4px 0;
}

#menu-options {
    position: fixed;
    top: 140px; /* 跟隨移動 */
    left: 10px;
    background-color: #222;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
