<div id="gift-modal">
    <div class="gift-modal-content">
        <h3>選擇禮物</h3>
        <div class="gift-options">
            <button class="gift-option" data-gift="fireworks">🎆</button>
            <button class="gift-option" data-gift="rocket">🚀</button>
            <button class="gift-option" data-gift="rose">🌹</button>
            <button class="gift-option" data-gift="stars">⭐</button>
            <button class="gift-option" data-gift="hearts">❤️</button>
        </div>
        <button id="send-gift-button" class="send-gift-button">發送</button>
        <button id="close-gift-modal" class="close-modal-button">關閉</button>
    </div>
</div>
